@mixin t-bd($color) {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid $color;
  transform-origin: 0 0;
  transform: scaleY(0.5);
  z-index: 2;
}

@mixin b-bd($color) {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid $color;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
  z-index: 2;
}